<div class="forgot-wrapper">
    <div class="forgot-group flex justify-center items-center h-screen">
        <div class="bg-white w-fit h-fit px-[20px] py-[39px] rounded-[25px]">
            <div>
                <img src="assets/images/logo.png" width="250px" height="116px" class="mx-auto" />
            </div>
            <form [formGroup]="forgotForm" class="forgot-form">
                <div class="text-[25px] font-bold text-center mt-[28px] tracking-[0.18em]">Forgot password?</div>
                <div class="text-[#636364] text-center mt-[28px]">Do not worry! We will help you recover your password.</div>
                <div class="input-group">
                    <input id="email" type="text" formControlName="email" class="forgot-input" placeholder="Enter your email"/>
                </div>   
                <button (click)="handleSubmit()" class="w-full mx-auto bg-[#6055F2] text-white h-[40px] rounded-[5px] mt-[28px]">Continue</button> 
                <div class="text-[#636364] text-center mt-[28px]">Do you remember the password? <span class="text-[#6055F2]"> <a routerLink="/">Log In</a></span></div>         
            </form>
        </div>
    </div>
</div>