<div class="login-wrapper">
  <div class="login-group flex justify-center items-center h-screen">
    <div class="bg-white w-fit h-fit px-[20px] py-[39px] rounded-[25px]">
      <div>
        <img
          src="assets/images/logo.png"
          width="250px"
          height="116px"
          class="mx-auto"
        />
      </div>
      <form [formGroup]="loginForm" class="login-form">
        <div
          class="text-[25px] font-bold text-center mt-[28px] tracking-[0.18em]"
        >
          Reset password
        </div>
        <div class="text-[#636364] text-center mt-[28px]">
          Enter your new password below to reset your account
        </div>
        <div class="input-group">
          <input
            id="new-password"
            type="password"
            formControlName="newPassword"
            class="login-input"
            placeholder="New password"
          />
        </div>
        <div class="input-group">
          <input
            id="password"
            type="password"
            formControlName="password"
            placeholder="Confim password"
            class="login-input"
          />
        </div>
        <button
          (click)="handleSubmit()"
          class="w-full mx-auto bg-[#6055F2] text-white h-[40px] rounded-[5px] mt-[28px]"
        >
          Submit
        </button>
        <div class="text-[#636364] text-center mt-[28px]">
          Do you remember the password?
          <span class="text-[#6055F2]"> <a routerLink="/">Log In</a></span>
        </div>
      </form>
    </div>
  </div>
</div>
