.login-wrapper {
    background-image:linear-gradient(107.44deg, #E2E0FF 1.96%, #EBEAFA 16.15%, #F4F4F5 30.33%, #F5F5F5 71.54%, #E4E2FE 100%);
    width: 100%;
    height: 100vh;
}

.login-form .input-group {
    border-width: 1px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 10px;   
    margin-top: 28px; 
}
.login-form .login-input {
    width: 400px;
    outline: none;
}

.login-form mat-icon {
  font-size: 16px;
  color: #8e8e8e;
  line-height: 24px;    
}


