@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.ng-otp-input-wrapper .otp-input:not(:last-child) {
    margin-right: 24px !important;
  }
  
  .ng-otp-input-wrapper .otp-input:last-child {
    margin-right: 0 !important;
  }
  